* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
:root {
   --bacground-1: #00204a;
   --text-coler: #00bbf0;
   --text-p: #0c0c0c;
   --text-p2:  #fefefe;
}
html {
   scroll-behavior: smooth;
}
body {
   font-family: 'Roboto', sans-serif;
}

input, textarea, button, select {
   font: inherit;
}

::selection {
   background: var(--text-coler);
   color: #fff;
}

.scroller {
   position: fixed;
   background-color: var(--text-coler);
   width: 0;
   height: 4px;
   top: 0;
   left: 0;
   z-index: 99999;
}