.section {
   background: linear-gradient(130deg, #231a6f, #0f054c);
   padding: 10px 0 150px 0;
}
.section .box-main {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
   gap: 40px;
   align-items: end;
}
.section .box img {
   display: block;
   max-width: 100%;
   width: 100%;
   height: auto;
   overflow: hidden; /* لمنع تجاوز الصورة للحجم المحدد */
   animation: upDown 5s infinite;
}
@keyframes upDown {
   0% {
            transform: translateY(-45px);
   }
   50% {
            transform: translateY(45px);
   }
   100% {
            transform: translateY(-45px);
   }
}
   .section .box .content {
      margin-top: 50px;
   }
.section .box .content h1 {
   font-size: 3rem;
   font-weight: bold;
   margin-bottom: 15px;
   text-transform: uppercase;
   color: var(--text-p2);
}
.section .box .content p {
      color:var(--text-p2);
      margin-top: 0;
      margin-bottom: 1rem;
      line-height: 1.5;
      font-size: 14px;
}
      @media screen and (max-width: 990px) {
         .section .box-main{
               grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
         }
      }
      @media screen and (max-width: 880px) {
         .section .box-main{
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      }
      }
      @media screen and (max-width: 480px) {
         .section .box .content h1 {
            font-size: 2rem;
         }
   }
      @media screen and (max-width: 430px) {
         .section .box-main{
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      }
      }

 /* End section */